#div-container {
    width: 600px;
    height: 600px;
    display: grid;
    position: relative;
    left: 50%;
    margin: 0px 0px 0px -300px;
}

.box {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    transition: 0.3s;

}

#buttons {
    padding: 10px;
    position: relative;
    left: 30%;

}